observe.webgogol.com {
  reverse_proxy signoz:8080
}

ingest.observe.webgogol.com {
  @unauthorized not header Authorization "Bearer {$WARPGOGOL_OTLP_TOKEN}"
  respond @unauthorized 401
  reverse_proxy otel-collector:4318
}
